* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Khmer, sans-serif;
}

/* button > span {
  height: 22px;
} */

body {
  height: 100vh;
}
.custom-descriptions .ant-descriptions-item-label {
  width: 200px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.88) !important;
}
